:root{
  --main-background: #edede9;
  --color-primary: #03045E;
  --maintext-color: #03045E;
  --color-secondary: #5F0F40;
  —-colour-highlight: #B9B9B9;


  --font-main: font-family: "filmotype-maxwell", sans-serif; /* Adobe font */
  --font-body: "MyFont"; /* Local or other font */

}

/* body {

} */

html{
  background-color: var(--main-background);
  /* font-color:var(--maintext-color) */
}

p{
  color: #03045E;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/TypewriterRusticRNH-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

h2, h3{
  font-family: "filmotype-maxwell", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-secondary);
}

h1 {
  font-family: "filmotype-maxwell", sans-serif;
  font-weight: normal;
  font-size: 100px;
  font-style: normal;
  /* color: var(--color-primary); */
}

li {
  font-family: var(--font-body);
  color: var(--color-primary);
}

a {
  font-family: var(--font-body);
  color: var(--color-primary);
}

p{
  font-family: var(--font-body);
  color: var(--color-primary);
}