---
import StickySidebarLayout from "../layouts/StickySidebarLayout.astro";
import LinkButton from "../components/LinkButton.astro";
import StampBorder from "../components/StampBorder.astro";

import "../styles/global.css";
---

<StickySidebarLayout title="Gallery">
  <div slot="photoheader" class="image-header">
    <img class="top" src="/images/stamps-42.png" />
    <img class="topp" src="/images/stamps-23.png" />
  </div>

  <div slot="logo">
    <h1>MONIKACORE</h1>
  </div>

  <div slot="main">
    <div class="stamp-border">
    <StampBorder src="/images/image-(1).jpg" alt="Image 1" size="100px" />
    <StampBorder src="/images/image-(2).jpg" alt="Image 2" size="100px" />
    <StampBorder src="/images/image-(3).jpg" alt="Image 3" size="100px" />
    <StampBorder src="/images/image-(4).jpg" alt="Image 4" size="100px" />
    <StampBorder src="/images/image-(5).jpg" alt="Image 1" size="100px" />
    <StampBorder src="/images/image-(6).jpg" alt="Image 2" size="100px" />
    <StampBorder src="/images/image-(7).jpg" alt="Image 3" size="100px" />
    <StampBorder src="/images/image-(8).jpg" alt="Image 4" size="100px" />
    <StampBorder src="/images/image-(9).jpg" alt="Image 4" size="100px" />
    <StampBorder src="/images/image-(10).jpg" alt="Image 4" size="100px" />
    <StampBorder src="/images/image-(11).jpg" alt="Image 1" size="100px" />
    <StampBorder src="/images/image-(12).jpg" alt="Image 2" size="100px" />
    <StampBorder src="/images/image-(13).jpg" alt="Image 3" size="100px" />
    <StampBorder src="/images/image-(14).jpg" alt="Image 4" size="100px" />
    <StampBorder src="/images/image-(15).jpg" alt="Image 1" size="100px" />
    <StampBorder src="/images/image-(16).jpg" alt="Image 2" size="100px" />
    <StampBorder src="/images/image-(17).jpg" alt="Image 3" size="100px" />
    <StampBorder src="/images/image-(18).jpg" alt="Image 4" size="100px" />
    <StampBorder src="/images/image-(19).jpg" alt="Image 4" size="100px" />
    <StampBorder src="/images/image-(20).jpg" alt="Image 4" size="100px" />
    <StampBorder src="/images/image-(21).jpg" alt="Image 1" size="100px" />
    <StampBorder src="/images/image-(22).jpg" alt="Image 2" size="100px" />
    <StampBorder src="/images/image-(23).jpg" alt="Image 3" size="100px" />
    <StampBorder src="/images/image-(24).jpg" alt="Image 4" size="100px" />
    <StampBorder src="/images/image-(25).jpg" alt="Image 1" size="100px" />
    <StampBorder src="/images/image-(26).jpg" alt="Image 2" size="100px" />
    <StampBorder src="/images/image-(27).jpg" alt="Image 3" size="100px" />
    <StampBorder src="/images/image-(28).jpg" alt="Image 4" size="100px" />
    <StampBorder src="/images/image-(29).jpg" alt="Image 4" size="100px" />
    <StampBorder src="/images/image-(30).jpg" alt="Image 4" size="100px" />
    </div>

  </div>

  <div slot="sidebar" class="sidebar">
    <LinkButton text="Home Page" link="/" />
    <LinkButton text="About Me" link="/about" />
    <LinkButton text="Work Portfolio" link="/work" />
    <LinkButton text="Art" link="/art" />
    <LinkButton text="Gallery" link="/gallery" />
    <LinkButton text="Recommendation" link="/recommendation" />
    <LinkButton text="Quotes I like a lot" link="/quotes" />
    <LinkButton text="List of Random Things" link="/list" />
    <LinkButton text="Things to Remember" link="/remember" />
  </div>
</StickySidebarLayout>

<style>
  .stamp-border {
  display: grid;
  grid-template-columns: repeat(3, auto); /* Change number to control columns */
  gap: 90px; /* Change value to control space between images */
  justify-content: center;
  margin: 40px;
}




  .image-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top {
    width: 200px;
    height: auto;
  }

  .topp {
    width: 100px;
    height: auto;
  }

  h1 {
    margin: 10px;
    text-align: center;
    border: 2px solid #4b0034;
    border-radius: 5px;
  }

  a:hover {
    background: rgba(255, 255, 255, 0.2);
    text-decoration: underline;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .sidebar LinkButton {
    background-color: transparent;
    border: 1px solid #4b0034;
    border-radius: 5px;
    color: #4b0034;
    padding: 10px 15px;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    transition: all 0.2s;
  }

  LinkButton {
    margin: 20px;
  }
</style>
