---
import Navigation from "../components/Navigation.astro";
import Button from "../components/Button.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home page</title>
	</head>
	<body>
		<Navigation />
		<h1>Home Page</h1>
		<p>
			Everything you can imagine id real and this is my reality!
      you are welcome to my world!
		</p>
		<Button text="Click me!" />
	</body>
</html>
