---
import MainLayout from "../layouts/MainLayout.astro";
import LinkButton from "../components/LinkButton.astro";
import "../styles/global.css";
---

<style>
  body {
    margin: 0;
    /* font-family: monospace; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .image-box {
    width: 300px;
    height: 400px;
    background-color: navy;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1.2rem;
    object-fit: cover;
    padding: 20px;
  }

  .text-box {
    background-color: #b9b9b9; /* gray */
    padding: 20px;
    max-width: 400px;
    font-size: 0.9rem;
    line-height: 1.4;
    font-family: 'MyFont';
  }

</style>
<MainLayout>
  <div class="container">
    <img src="/images/home-page-03.png" class="image-box" />

    <div>
      <div class="text-box">
        <p>
          Hi, you have just walked into my creative mess — welcome!
          <br>
          It’s part design portfolio, part stash of movies, music, books, and the random things I collect.
          There are photos of skies, my shoes on dirt, quotes I like, and webtoons I read when I should be working.
          Basically, it is the inside of my brain, but prettier.
          <br>
          Art, design, music, books, skies, shoes, and all the things I can’t stop loving.
          Take your time. Everything here has a story and who knows what you’ll find.
        </p>
      </div>
      <br />

      <LinkButton text="ENTER" link="/about" />
    </div>
  </div>
</MainLayout>
