---
const { content, imageSrc, imageAlt } = Astro.props;
---

<style>
  .container {
    display: grid;
    grid-template-columns: 2fr 80px;
    background-color: #b9b9b9; /* light gray */
    padding: 20px;
    gap: 20px;
    align-items: start;
    width: 600px;
    height: 350px;
    /* justify-content: center; */
  }

  .text {
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--maintext-color); /* dark navy text */
    text-align: left;
    padding: 40px;
  }

  .image {
    width: 100px;
    height: auto;
    object-fit: cover;
    justify-self: end;
  }
</style>

<div class="container">
  <div class="text">
    {content}
  </div>
  <img src={imageSrc} alt={imageAlt} class="image" />
</div>
