---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My website description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      /* body {
        font-family: system-ui, sans-serif;
      } */

      .layout {
        /* display: flex; */
        align-content: center;
        margin: 100px;
      }

      .sidebar {
        position: fixed;
        top: 50px;
        right: 50px;
        width: 200px;
        height: 100vh;
        padding: 20px;
        overflow-y: auto;
      }

      .main-content {
        /* margin-left: 200px; */
        /* flex: 1; */
        padding: 40px;
        /* background: white; */
      }

      .logo {
        display: flex;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 30px;
        /* color: #333; */
      }

      .menu {
        font-size: 18px;
        margin-bottom: 20px;
        /* color: #666; */
      }

      .socials {
        position: absolute;
        bottom: 20px;
        font-size: 18px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="layout">
      <div>
        <img src="/images/stamp-sample.jfif" />
        <img src="/images/work-in-progress-sample.jfif" />
      </div>

      <header>
        <div class="logo">Logo</div>
      </header>

      <aside class="sidebar">
        <div class="menu">
          <slot name="menu" />
        </div>
        <div class="socials">Socials</div>
      </aside>

      <main class="main-content">
        <slot />
      </main>
      
    </div>
  </body>
</html>
